<h2>Check box</h2>
<form>
    <div style="visibility: hidden">
        <input name="input1" value="IsSelected" />
        <input name="tag" value="Check box" />
    </div>
    <input name="value" type="checkbox" />
    <br />
    <button formmethod="post" formaction="~/Controls/GetDataFromView" type="submit">
        submit
    </button>
</form>