<h2>Text Box</h2>
<form>
    <div style="visibility: hidden">
        <input name="tag" value="Text Box" />
        <input name="input1" value="Text" />
    </div>
    <input name="value" type="text" />
    <br />
    <button formmethod="post" formaction="~/Controls/GetDataFromView" type="submit">
        submit
    </button>
</form>