<form method="post">
    <label>
        <b>Reset your password</b>
    </label><br />
    <label>Email</label>
    <br />
    <input type="text" name="email" />
    <br /><br />
    <di>
        <button style="display: inline" type="submit" name="action" value="Send">Send me a code</button><br />
        <button style="display: inline; margin-left:10px" formaction="~/Login/WriteCode" type="submit" name="action" value="Have">I have a code</button>
    </di>
</form>