<form method="post">
    <label>
        <b>Reset your password</b>
    </label><br />

    <label>code</label>
    <br />
    <input type="text" name="Code" />
    <br />
    <button formaction="~/Login/Next">Verify</button>
</form>