@model WebApplication8.Models.SignUpModel

<form method="post">
    <div asp-validation-summary="All"></div>
    <label>
        <b>Email</b>
    </label><br />
    <input type="text" name="email" /><br />
    <span asp-validation-for="email"></span><br />
    <label><b>Password</b></label><br />
    <input type="text" name="password" /><br />
    <span asp-validation-for="email"></span><br />
    <label>
        <b>Confirm password</b>
    </label><br />
    <input type="text" name="confirm" /><br /><br />
    <span asp-validation-for="email"></span><br />
    <input type="checkbox" name="remember" value="true" />
    <label>Remember?</label>

    <p><input name="submit" type="submit" formaction="~/Login/Result" value="Complete Sign Up" /></p>
    <div style="visibility: hidden">
        <input name="firstName" value=@Model.firstName>
        <input name="lasttName" value=@Model.lasttName>
        <input name="day" value=@Model.day>
        <input name="month" value=@Model.month>
        <input name="year" value=@Model.year>
        <input name="gender" value=@Model.gender>
    </div>
</form>